@use './h-fonts' as F ;
@use './h-colors' as C ;
@use './mixin.scss' as M ;


.navbar {
    width :     90%;
    height :    15vh ;

    @include M.Display( flex , row nowrap , space-around , center , 1rem ) ;

    & .logo {}
    & .menu {}
    & .cta {
        display: inline-flex ;

        & .link {}

    }
}
