$c-black :     #000 ;
$c-black900 :   #001219 ;
$c-green900 :   #005f73 ;
$c-green500 :   #0a9396 ;
$c-green200 :   #94d2bd ;
$c-yellow500 :  #e9d8a6 ;
$c-orange500 :  #ee9b00 ;
$c-red700 :     #ca6702 ;
$c-red600 :     #bb3e03 ;
$c-red500 :     #ae2012 ;
$c-red400 :     #9b2226 ;
