// Declaraciones globales.

@mixin Display ( $display , $flexFlow , $justifyContent , $alignItems , $gap : false ) {
  display : $display ;
  flex-flow : $flexFlow ;
  justify-content : $justifyContent ;
  align-items : $alignItems ;
  @if $gap {
    gap : $gap ;
  };
}
