@charset 'UTF-8' ;

html {
    font-size : 18px ;
    font-family: 'Roboto', sans-serif ;
    line-height: 1.5 ;
    font-weight: 400 ;
}

.Body {
    background-color: rgb(176, 175, 173);
}

.Header {}

.Header .section {}

.Header .section .article {
    text-align: center ;
}

/* Aside */

/* Main */
.Main {
    display : flex ;
    flex-flow: column nowrap ;
    justify-content: center ;
    align-items: center ;
    gap : 0 ;

}

.Main .section {
    width: 500px;
    height: 50vh;

    display : flex ;

    border : 1px solid blue ;
    border-radius : 2rem ;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
}

.Main .section .article {
    width: 50%;
    height: 100% ;
}


.Main .section .article:first-child {

    background: hsla(279, 96%, 31%, 1);
    background: linear-gradient(360deg, hsla(279, 96%, 31%, 1) 0%, hsla(272, 97%, 26%, 1) 100%);
    background: -moz-linear-gradient(360deg, hsla(279, 96%, 31%, 1) 0%, hsla(272, 97%, 26%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(279, 96%, 31%, 1) 0%, hsla(272, 97%, 26%, 1) 100%);

    color : white ;
    text-align: center ;
    border-radius: 2rem;
    border : 1px solid green ;
}

.Main .section .article:first-child .header { height: 20%;}
.Main .section .article:first-child .main { height: 40% ;}
.Main .section .article:first-child .footer { height: auto ;}



.Main .section .article:last-child {
    background-color: rgb(252, 252, 252) ;

    border : 1px solid green ;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    text-align: left;

}

.Main .section .article:last-child .header {}
.Main .section .article:last-child .main {}
.Main .section .article:last-child .footer {}